MONZO_CLIENT_ID=your_monzo_client_id_here
MONZO_CLIENT_SECRET=your_monzo_client_secret_here
MONZO_ACCESS_TOKEN=your_monzo_access_token_here
MONZO_REFRESH_TOKEN=your_monzo_refresh_token_here
TRUELAYER_CLIENT_ID=your_truelayer_client_id_here
TRUELAYER_CLIENT_SECRET=your_truelayer_client_secret_here
TRUELAYER_HSBC_ACCESS_TOKEN=your_truelayer_hsbc_access_token_here
TRUELAYER_HSBC_REFRESH_TOKEN=your_truelayer_hsbc_refresh_token_here
TRUELAYER_BOS_ACCESS_TOKEN=your_truelayer_bos_access_token_here
TRUELAYER_BOS_REFRESH_TOKEN=your_truelayer_bos_refresh_token_here
