beautifulsoup4==4.14.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.7
et_xmlfile==2.0.0
idna==3.11
lxml==6.0.3
ofxparse==0.21
openpyxl==3.1.5
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
pycparser==3.0
pypdfium2==5.7.0
python-dotenv==1.2.2
requests==2.33.1
schedule==1.2.2
six==1.17.0
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
